/vendor
/.idea/
node_modules/
/docker/traefik/config/certs/

.env
*.log
.DS_Store
/.cursor/skills/frontend-design/
/.agents/skills/frontend-design/LICENSE.txt
/.agents/skills/frontend-design/SKILL.md
